:root
{
    --text-color: #333;
    --white-color: white;
    --primary-color: #fb5830;
    --height-header: 128px;
    --height-header-nav: 40px;
    --height-sort-bar: 46px;
    --height-input-mobile: 46px;
    --height-header-search: calc(var(--height-header) - var(--height-header-nav))
}

*
{
    box-sizing: inherit;
}

html
{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



/* ---------------------------------- */



.btn
{
    color: var(--text-color);
    padding: 8px 16px;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    background-color: var(--white-color);
}

.btn--primary
{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.arrow::after
{
    content: '';
    position: absolute;
    border-width: 11px 13px;
    border-style: solid;
    border-color: transparent transparent var(--white-color);
    top: -22px;
    right: 22px;
    cursor: pointer;
}

/* --------------------animation----------------- */

@keyframes growth
{
    from
    {
        transform: scale(0);
    }
    to
    {
        transform: scale(1);
    }
}

@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to 
    {
        opacity: 1;
    }
}

/* -----------------modal----------------- */

.modal
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
}

.modal__overlay
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.modal__contain
{
    margin: auto;
    z-index: 1;
}

/* ---------------------selection input--------------- */

.selection-input
{
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    padding: 8px 12px;
    min-width: 200px;
    border-radius: 2px;
    font-size: 1.4rem;
    justify-content: space-between;
    color: var(--text-color);
    position: relative;
}

.selection-input:hover .selection__option-list
{
    display: block;
}

.selection-input::after
{
    content: '';
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.selection-input__icon
{
    font-size: 1.2rem;
    cursor: pointer;
}

.selection-input__icon:hover
{
    color: rgba(0, 0, 0, .6);
}

.selection__option-list
{
    position: absolute;
    top: 106%;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    z-index: 1;
    padding: 8px 0px 8px 14px ;
    list-style: none;
    margin: 0;
    border-radius: 2px;
    display: none;
}

.selection__option-link
{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 8px 0;
    display: block;
}

.selection__option-link:hover
{
    color: var(--primary-color);
}

.rating--star-gold
{
    color: #ffce3d;
}




